@model Subscriber

<div>
    <h2>Create Subscriber</h2>

    <p></p>
    <form method="post">
        <div class="col-md-9">
            <div>
                <label class="col-md-3" asp-for="@Model.Firstname"></label>
                <input class="col-md-6" asp-for="@Model.Firstname" />
            </div>
            <div>
                <label class="col-md-3" asp-for="@Model.Lastname"></label>
                <input class="col-md-6" asp-for="@Model.Lastname" />
            </div>
            <div>
                <label class="col-md-3" asp-for="@Model.Email"></label>
                <input class="col-md-6" asp-for="@Model.Email" />
            </div>
            <div>
                <label class="col-md-3" asp-for="@Model.SubCategory"></label>
                <input class="col-md-6" asp-for="@Model.SubCategory" />
            </div>
            <div>
                <button type="submit">Save</button>
            </div>
        </div>

    </form>
</div>